$white : #FFFFFF;
$black : #272727;
$darkBlack : #161616;
$lightGrey : #DFDFDF;
$grey : #707070;
$blue : #002D7F;
$yellow : #FEC106;
$extraLightGrey : #BDBDBD;
$opacityGrey : #FBFBFD;
$lightishGrey : #F6F7F9;
$skyBlue : #1877F2;
$lightishBlack : #5C5C5C;
$darkPinkish : #FF5A4E
