@import url(../assets/fonts/stylesheet.css);
:root { margin: 0px; padding:0px;  font-family: 'Avenir Next'; 
    --primary-color:#002D7F;
    --secondary-color:#FEC106;
    --white-color:#ffffff;
    --gray-color: #707070;
    --black-color:#000000; 



}
body { margin: 0px; padding:0px;  font-family: 'Avenir Next' !important; background-color: var(--white-color); }

h1,h2,h3,h4,h5,h6 {padding: 0px; margin: 0px; font-family: 'Avenir Next' !important; font-weight: normal; }

/*************************************
Button Css
**************************************/

.button__whitebg{
          font-style: normal;    font-weight: 600;     font-size: 14px;  line-height: 19px;    display: flex;  align-items: center;    justify-content: center;  text-align: center;    background-color: transparent;        width: 152px; height: 46px;      
             color: var(--primary-color);border: 1px solid var(--primary-color); border-radius: 30px; 

             &:hover {
                color: #ffffff; background-color: var(--primary-color);     transition: .3s linear;
             }
}




.button__Graybg , .nav-link.button__Graybg{
    font-style: normal;    font-weight: 600;     font-size: 14px;  line-height: 19px;    display: flex;  align-items: center;    justify-content: center;  text-align: center;    background-color: transparent;        width: 152px; height: 46px;      
       color: var(--gray-color);border: 1px solid  var(--gray-color); border-radius: 30px; 

       &:hover {
          color: var(--primary-color); border-color:  var(--primary-color);     transition: .3s linear;
       }
}


.button__Bluebg{
    font-style: normal;    font-weight: 600;     font-size: 14px;  line-height: 19px;    display: flex;  align-items: center;    justify-content: center;  text-align: center;    background-color: transparent;        width: 152px; height: 46px;      
       color: var(--white-color);border: 1px solid  var(--primary-color); background-color: var(--primary-color); border-radius: 30px; 

       &:hover {
          color: var(--primary-color); border-color:  var(--primary-color);  background-color: var(--white-color);     transition: .3s linear;
       }
}



/*************************************
slick Css
**************************************/

button.slick-arrow.slick-next { width:42px; height: 42px;    border-radius: 27.3913px; background:url(../../public/images/leftArrow.png)  no-repeat #F6F7F9 center;
   cursor: pointer; 
   &:before{display: none;} 
   &:hover { background-color: var(--secondary-color); }
 
}



button.slick-arrow.slick-prev { width:42px; height: 42px;    border-radius: 27.3913px; background:url(../../public/images/leftArrow.png)  no-repeat #F6F7F9 center;
   cursor: pointer;   transform: rotate(180deg);
   &:before{display: none;} 
   &:hover { background-color: var(--secondary-color); }
 
}

